@charset "UTF-8";

body{
    background-image: url(resources/img/bank_building.jpg);
    background-size: cover;
}

.title{
    top: 0;
    left: 0;
    right: 0;
    position: fixed; 
}


.title_icon{
    float: left;
    margin-left: 50px;
}


.greeting{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.greeting h1{
	margin-top:50px;
    color: #fff;
    font-size: 70px;
}
 

.other_buttons{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

h1{text-shadow: 3px 3px 2px #000;}

.other_buttons a{
	border: 1px solid #fff;
    border-radius: 15px;
    transition:0.4s ease;
    color: #fff;
    text-decoration: none;
    transition: 0.4s ease;
    margin:5px;
    width:150px;
    font-weight: bold;
    padding: 5px 35px;
}

.other_buttons a:hover{
    background-color: #fff;
    color: #000;
}
