@charset "UTF-8";


#introduce_body{
	height: 1100px;
}

#introduce_box{
	position:absolute;
	text-align:center;
	left:12%;
	padding:30px;
	top: 30%;
	width: 70%;
    height:650px;
	margin: 5px;
	background: #212121;
	border-radius:10px; 	
}

#introduce_box1 > h1{
	color: #fff;
}

#introduce_box1 > p{
	color: #fff;
	font-size: 15px;
}

#introduce_box2 > img{
	margin: 10px;
}

#introduce_box3{
	color: #fff;
	font-size: 15px;
	font-weight: lighter;
}

#introduce_table tr{
	margin: 10px;
	
}

#introduce_table{
	border: 2px solid white;
}

#introduce_table th{
	background: gray;
	font-size: 20px;
	border: 2px solid white;
}

#introduce_table th, td{
	text-align: center;
	padding: 15px;
	
}

#footer{
	  width: 100%;
	  height:70px;
	  position: absolute;
	  top: 1000px;
	  left: 50%; 
	  margin-top:50px;
	  transform: translate(-50%,-50%);
	  bottom:0;
}





