@charset "UTF-8";

body{background-image: url(resources/img/bank_building.jpg);
    background-size: cover; 
     }  
 
     
.box{
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #212121;
  border: 2px solid black;
  border-radius: 20px;
  color: white;
}

.box h1{
  color: white;
  font-weight: 500px;
}

#id, #pwd, #c_pwd, #name, .ssn, .email,.tel{
  border:0;
  background: none;
  margin: 5px auto;
  border: 2px solid #3498db;
  padding: 5px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}


#postcode, #roadAddr{
  border:0;
  background: none;
  margin: 5px auto;
  border: 2px solid #3498db;
  padding: 5px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

#detailAddr{
  border:0;
  width:200px;
  background: none;
  margin: 5px auto;
  border: 2px solid #3498db;
  padding: 5px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  margin-bottom: 30px;
}

#find_addr,#c_id,#view,#c_ssn{ 
  border:0;
  background: none;
  margin: 5px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 5px 35px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

#find_addr:hover,#c_id:hover,#view:hover,#c_ssn:hover{
  background: #2ecc71;
}


.box input[type = "button"]{
	
  border:0;
  background: none;
  margin: 5px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 10px 35px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = "button"]:hover{
  background: #2ecc71;
}
