@charset "UTF-8";

body{
    background-image: url(../img/bank_building.jpg);
    background-size: cover;
    height: 600px;
}
		
.board_table{
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 400px;
	border-radius: 24px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	transition: 0.25s;
}
		
.board_table thead tr {
 	color: #ffffff;
	text-align: center;
	font-weight: bold;
}
		
.board_table th,
.board_table td {
	padding: 12px 15px;
}
		
.board_table tbody tr {
	border-bottom: 1px solid #dddddd;
	background-color: #f3f3f3;
	cursor: pointer;
	transition: 0.25s;
}
		
		
.board_table tr:hover{
	background-color: darkgray;
}

.view_table{
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 400px;
	border-radius: 24px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	transition: 0.25s;
}

.view_table thead tr {
 	color: #ffffff;
	text-align: center;
	font-weight: bold;
}

.view_table tbody tr {
	border-bottom: 1px solid #dddddd;
	background-color: #f3f3f3;
	cursor: pointer;
	transition: 0.25s;
}

.view_table td {
	padding: 5px;
}

input{
	border:none;
	border-right:0px; 
	border-top:0px; 
	boder-left:0px; 
	boder-bottom:0px;
}

#footer{
	  width: 100%;
	  height:70px;
	  position: absolute;
	  top: 800px;
	  left: 50%; 
	  margin-top:50px;
	  transform: translate(-50%,-50%);
	  bottom:0;
}



