<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <link href="bank.css" rel="stylesheet">
    
</head>
<body>
    
    <div class="title">
        <a href="#">
            <img class="title_icon" src="img/logo.png";>
        </a>
       
           <ul>
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
                <li><a href="#">계좌상세정보</a></li>
            </ul>
    </div>
    
    <form class="box">
			<h1 align = "center">Find User P.W.</h1>
			<table align = "center">
				<tr>
					<td><input type="text" id = "name" name = "name" placeholder="User Name"></td>
				</tr>
				
					<td><input type="text" id = "id" name = "id" placeholder="User ID"></td>
				
				<tr>
					<td><input type="text" id = "ssn1" name = "ssn1" maxlength="6" size = "6" placeholder="Social Security Number(Front)"> <input type = "password" id = "ssn2" name = "ssn2" maxlength="7" size = "7" placeholder="Security Number(Back)"></td>
				</tr>
				
				<tr>
					<td colspan = "2" align = "center">
					<input type = "button" class = "btn" value = "Find" onclick = "find_id(this.form);">
					<input type = "button" class = "btn" value = "Cancel" onclick = window.close();>
					</td>			
				</tr>
			</table>
			
		</form>
    
</body>
</html>