<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <link href="bank.css" rel="stylesheet">
    
</head>
<body>
    <div class="title">
        <a href="#">
            <img class="title_icon" src="img/logo.png";>
        </a>
       
           <ul>
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
                <li><a href="#">계좌상세정보</a></li>
            </ul>
    </div>
    
    <form class="box" id="joining">
      <h1>회원가입</h1>
      <table  align = "center">
				<tr>
					<td><input type="text" id = "id" name = "id" placeholder="User ID"></td>
					<td class = "idpwd"><input type = "button" id = "c_id" name = "c_id" value = "Check" onclick = "id_check();"></td>
				</tr>
				
				<tr>
					<td><input type = "password" name = "pwd" placeholder="User Password "></td>
					<td class = "idpwd"><input type = "button" id = "view" name = "view" value = "View" onclick = "pwd_view();"></td>	
				</tr>
				
				<tr>
					<td><input type = "password" name = "c_pwd" placeholder="Password Check"></td>
				</tr>
								
				<tr>
					<td><input type="text" name = "name" placeholder="User Name "></td>
				</tr>
				
				<tr>
					<td><input type="text" name = "ssn1" placeholder="Social Security Number (Front)">  <input type = "password" name = "ssn2" size = "7" maxlength="7" placeholder="Social Security Number (Front)"></td>
				</tr>
				
				<tr>
					
					<td><input type="text" name = "tel1" maxlength= "3" placeholder="Phone Number"> <input type="text" name = "tel2" maxlength= "4"><input type="text" name = "tel3" maxlength= "4"></td>
				</tr>
						
				<tr>
					<td><input type="text" name = "email1" maxlength="9" placeholder="Email"> @ <input type="text" name = "email2"></td>
				</tr>
						
				<tr>
					<td><input type="text" name = "addr" placeholder="Address"></td>
				</tr>

				<tr>
					<td colspan = "3" align = "center">
						<textarea id = "txt" rows="10" cols="65" disabled="disabled">${content}</textarea>
					</td>				
				</tr>
				
				<tr>
					<td align = "right" colspan = "3">
						<input type = "checkbox" id ="checkbox" value = "">Agree
						<!-- <input type = "radio" name ="agree" value = "N">DisAgree -->
					</td>
				</tr>
				
				<!-- 계좌번호, 잔액 , 날짜 -->
			</table>
			<div align = "center">
				<input class = "btn" type = "button" value = "Sign up" onclick="join(this.form);">
				<input class = "btn" type = "button" value = "Cancel" onclick="history.go(-1);">
			</div>
    </form>
    
</body>
</html>
    