<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
     <link href="bank.css" rel="stylesheet">
    
</head>
<body>
    
    <div class="title">
        <a href="#">
            <img class="title_icon" src="img/logo.png";>
        </a>
       
           <ul>
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
                <li><a href="#">계좌상세정보</a></li>
            </ul>
    </div>
    
    <div align="center" class="num">
			<h1>:::출금:::</h1>
			<p style="color: white">${ vo.name }님 출금하실 금액을 입력해주세요</p>
			<div>
				<input type="button" value="1" onclick="transfer(1);">
				<input type="button" value="2" onclick="transfer(2);">
				<input type="button" value="3" onclick="transfer(3);">
			</div>
			<div>
				<input type="button" value="4" onclick="transfer(4);">
				<input type="button" value="5" onclick="transfer(5);">
				<input type="button" value="6" onclick="transfer(6);">
			</div>
			<div>
				<input type="button" value="7" onclick="transfer(7);">
				<input type="button" value="8" onclick="transfer(8);">
				<input type="button" value="9" onclick="transfer(9);">
			</div>
			<div>
				<input type="button" value="C" onclick="transfer(-1);">
				<input type="button" value="0" onclick="transfer(0);">
				<input type="button" value="del" onclick="transfer(-10);">
			</div>
			
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
			<input type="text" id="amount">
			<input type="button" value="출금" onclick="deposit('${vo.idx}');"><br><br>
			<a href="#" style="text-decoration: none;">목록으로</a>
		</div>

    
</body>
</html>